<!-- <h1>Hello World! {{title}}</h1>
    <h1>{{num+50}}</h1>
    <h1>{{data}}</h1> -->

<!-- <app-register></app-register> -->

<!-- <app-register [item]="data"></app-register> -->
<!-- <button (click)="updateValue()">Update value</button> -->

<!-- <ul *ngFor="let user of userDetails">
    <app-register [items]='user'></app-register>
</ul> -->



<!-- <app-country></app-country> -->
<!-- <app-student></app-student> -->
<!-- <app-user></app-user> -->
<!-- <app-login></app-login> -->

<app-header></app-header>
<!-- <app-basic-form></app-basic-form> -->

<!-- <app-child (updatedataEvent)="updateData($event)"></app-child>
<h3>{{Value}}</h3> -->



<!-- <h1> Angular Demo</h1> -->